[Unit]
Description=Clipsal CGate to MQTT Bridge
Wants=cgate.service mosquitto.service

[Service]
ExecStart=/usr/local/bin/twistd --python=/usr/local/lib/cgatemqtt.tac --nodaemon --pidfile=/var/run/cgatemqtt.pid --prefix=cgatemqtt
PIDFile=/var/run/cgatemqtt.pid
Restart=on-abort

[Install]
WantedBy=multi-user.target
