[Unit]
Description=Serial port to socket
Wants=dev-cbus.device
After=dev-cbus.device

[Service]
ExecStart=/usr/local/bin/ser2sock -f /etc/ser2sock/ser2sock.conf -P /var/run/ser2sock.pid
Restart=on-abort

[Install]
WantedBy=multi-user.target

